<h1> Coucou les petits fous voici tout les petits potins de THP <3 </h1>

<% @gossips.each do |gossip| %>
    <p> Potin de <%= gossip.anonymous_author %> qui nous dis que: </br>  <%= gossip.content %></p>
    <a href=" <%= edit_gossip_path(gossip.id) %>"> Editer</a>
    <a href="<%=  gossip_path(gossip.id) %>"  data_confirm = "etes vous sur ?" data-method "DELETE"> Supprimer</a>
<% end %>